<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="warning" size="block" fill="outline">
          <h5>1</h5>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" size="block" fill="outline">
          <h5>3</h5>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" size="block" fill="outline">
          <h5>6</h5>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" size="block" fill="outline">
          <h5>9</h5>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" size="block" fill="outline">
          <h5>12</h5>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <h2>
          Time 1
        </h2>
        <ion-button color="warning" size="large">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" padding="2">
        <h2>
          Time 2
        </h2>
        <ion-button color="warning" size="large">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <h2>
          Time 1
        </h2>
        <ion-button color="warning" size="large">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" padding="2">
        <h2>
          Time 2
        </h2>
        <ion-button color="warning" size="large">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
