img{
  height: 50%;
  border-radius: 50%;
  box-shadow: 8px 8px 48px -12px rgba(0,0,0,0.76);
  -webkit-box-shadow: 8px 8px 48px -12px rgba(0,0,0,0.76);
  -moz-box-shadow: 8px 8px 48px -12px rgba(0,0,0,0.76);
}

.container-coin{
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
}
